body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    width: 430px;
    height: 600px;
    position: relative;
    margin: auto;
}

#game-canvas {
    width: 430px;
    height: 600px;
    display: block;
}

#score {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);  /* 使用 transform 来居中 */
    z-index: 10;
    width: auto;  /* 让宽度自适应内容 */
    text-align: center;
}

#score img {
    max-height: 30px;  /* 设置一个固定的最大高度 */
    width: auto;  /* 宽度自适应，保持比例 */
    display: inline-block;
    vertical-align: middle;
}

#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    padding: 10px 20px;
}

#pause-button {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 10%;
}

#pause-button img {
    max-width: 100%; 
}
